

#parse("layout/header.html")


#parse("layout/leftbar.html")


     <div role="main" class="main-content">
      <div class="d-none content-nav mb-1 bgc-grey-l4">
       <div class="d-flex justify-content-between align-items-center">
           <ol class="breadcrumb pl-2">
               <li class="breadcrumb-item active text-grey">
                   <i class="fa fa-home text-dark-m3 mr-1"></i>
                   <a class="text-blue" href="#">
                       Home
                   </a>
               </li>
       
               <li class="breadcrumb-item active text-grey-d1">Dashboard</li>
                   </ol>
       
           <div class="nav-search">
               <form class="form-search">
                   <span class="d-inline-flex align-items-center">
                       <input type="text" placeholder="Search ..." class="form-control pr-4 form-control-sm radius-1 brc-info-m2 text-grey" autocomplete="off" />
                       <i class="fa fa-search text-info-m1 ml-n4"></i>
                   </span>
               </form>
           </div><!-- /.nav-search -->
       </div>          
     </div><!-- breadcrumbs -->

      <div class="page-content container">
      

<!-- the welcmome to Ace message -->
<div class="d-none fade show alert alert-lg bgc-success-l2 border-0 border-l-4 brc-success-m1 m-2 mx-lg-4 py-3 text-105 text-dark-tp3">
    <button type="button" class="close" data-dismiss="alert">
        <i class="text-70 fa fa-times align-top text-grey"></i>
    </button>

    <i class="fas fa-check mr-1 text-120 text-success-m1"></i>

    Welcome to
    <span class="text-success-d2 font-bolder text-105">
        Ace
        <small>(v2.1)</small>
    </span>
    , a lightweight, feature-rich and easy to use admin template.
</div>

#parse( $BODY )

   </div><!-- /.page-content -->

#parse("layout/footer.html")

<script>

</script>
          